Utilize o dataset de Insurance com as categorias criadas abaixo, faça o treinamento do K vizinhos para as classes escolhidas usando os Scalers que acabamos de conhecer e compare a performance

Passo a passo
1 - Escolha um Scaler e faça o instanciamento

2 - Faça o fit transform dos dados de treino e o transform dos dados de teste

3 - Faça o fit com os dados escalados, e o target não escalado

4 - Gere a predição com os dados de teste escalados

5 - Analise as metricas usando matriz de confusão e classification report

In [1]:
import pandas as pd

In [30]:
insurance = pd.read_csv('insurance.csv')

In [31]:
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [32]:
insurance.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [33]:
#tratando de variaveis categoricas
from sklearn.preprocessing import OneHotEncoder
categoricas = ['sex','smoker','region']
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
OH_cols = pd.DataFrame(OH_encoder.fit_transform(insurance[categoricas]))

OH_cols.index = insurance.index

insurance = insurance.drop(categoricas, axis=1)

insurance = pd.concat([insurance, OH_cols], axis=1)

insurance.columns = insurance.columns.astype(str)

In [34]:
from sklearn.model_selection import train_test_split
X = insurance.drop('charges', axis=1)
y = insurance['charges']

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=42)

## Standard Scaler

In [35]:
from sklearn.preprocessing import StandardScaler

ss= StandardScaler().fit(X_train)

X_train_ss = ss.transform(X_train)
X_test_ss = ss.transform(X_test)

In [44]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics  import mean_squared_error, mean_absolute_error

knr = KNeighborsRegressor(n_neighbors=3)

knr.fit(X_train_ss, y_train)

y_pred_ss = knr.predict(X_test_ss)

mse = mean_squared_error(y_test, y_pred_ss)
mae = mean_absolute_error(y_test, y_pred_ss)

In [49]:
print(f'Para o scaler: Standard Scaler:\n MAE: {mae}\n MSE: {mse}')

Para o scaler: Standard Scaler:
 MAE: 3443.064162628109
 MSE: 30743057.913611215

In [50]:
#Comparando MAE com o valor medio de y_test
mae/y_test.mean()

0.2654981479814533

In [51]:
#Comparando raiz do MSE com o valor medio de y_test
mse**(1/2)/y_test.mean()

0.4275529541838504